.contact {
  background-color: #CCCCCC;
  border-top: 1px solid #A3A3A3;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: .5em 0;
}

.contact-avatar {
  font-size: 1rem;
  padding: 0 .5em;
}
.contact-avatar--image {
  border-radius: 100px;
  border: 1px solid #A3A3A3;
  height: 40px;
  width: 40px;
}

.contact-details {
  flex-grow: 1;
}

.contant-details--name {
  font-weight: bold;
}

.contact-status {
  align-items: center;
  display: flex;
  font-size: 1rem;
  padding: 0 .5em;
}
