.checkbox--checked-icon {
  background-color: #1C4CAA;
  display: inline-block;
  font-size: 1rem;
  height: 1em;
  width: 1em;
}

.checkbox-label {
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding-left: 0;
}

.checkbox-label > div {
  align-items: center;
  border: 1px solid;
  border-color: rgb(116, 116, 116);
  display: flex;
  font-size: 1rem;
  height: 2em;
  justify-content: center;
  width: 2em;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + label.checkbox-label div {
  border-color: #1C4CAA;
}
